<div class="page" (click)="onGlobalClick()">
  <div class="topbar">
    <div class="topbar__title">{{ title }}</div>

    <div class="topbar__controls">
      <div class="label">Timescale:</div>

      <div class="seg">
        <button type="button" class="seg__btn" [class.is-active]="timescale==='day'" (click)="setTimescale('day')">Day</button>
        <button type="button" class="seg__btn" [class.is-active]="timescale==='week'" (click)="setTimescale('week')">Week</button>
        <button type="button" class="seg__btn" [class.is-active]="timescale==='month'" (click)="setTimescale('month')">Month</button>
      </div>
    </div>
  </div>

  <div class="timeline">
    <div class="timeline__grid">
      <!-- LEFT -->
      <div class="timeline__left">
        <div class="header__cell">Work Center</div>

        <div class="row-left" *ngFor="let wc of workCenters; trackBy: trackById">
          {{ wc.name }}
        </div>
      </div>

      <!-- RIGHT -->
      <div class="timeline__right">
        <div class="scroll" #scrollEl>
          <div class="scroll__content" [style.width.px]="totalWidthPx()">
            <app-timeline-header [columns]="headerColumns()"></app-timeline-header>

            <app-timeline-grid
              [workCenters]="workCenters"
              [columns]="gridColumns()"
              [bars]="bars"
              [pixelsPerDay]="pixelsPerDay"
              [openMenuBarId]="openMenuBarId"
              (rowClick)="openCreateFromClick($event.workCenterId, $event.event)"
              (toggleMenu)="toggleMenu($event.id, $event.event)"
              (edit)="openEdit($event)"
              (delete)="deleteBar($event)"
            ></app-timeline-grid>

            <div class="today-line" [style.left.px]="todayLineLeftPx()"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Extracted panel -->
  <app-work-order-panel
    *ngIf="panelOpen && panelInitial"
    [mode]="panelMode"
    [initial]="panelInitial"
    [externalError]="panelExternalError"
    (changed)="onPanelChanged()"
    (close)="onPanelClose()"
    (submit)="onPanelSubmit($event)"
  ></app-work-order-panel>
</div>
