<div
  class="bar bar--{{ bar.status }}"
  [style.left.px]="bar.leftPx"
  [style.width.px]="bar.widthPx"
  [ngbTooltip]="tip"
  tooltipClass="wo-tooltip"
  placement="top"
  container="body"
>
  <div class="bar__content">
    <!-- Left: name -->
    <div class="bar__label" *ngIf="showName">
      <span class="bar__name">{{ bar.name }}</span>
    </div>

    <!-- Status pill -->
    <span class="bar__status-pill bar__status-pill--{{ bar.status }}" *ngIf="showStatus">
      {{ statusLabel() }}
    </span>

    <!-- Kebab -->
    <button class="kebab" type="button" (click)="onKebabClick($event)" aria-label="Actions">
      <span class="kebab__dot"></span>
      <span class="kebab__dot"></span>
      <span class="kebab__dot"></span>
    </button>
  </div>
</div>

<ng-template #tip>
  <div class="tooltip__title">{{ bar.name }}</div>
  <div class="tooltip__row"><strong>Status:</strong> {{ statusLabel() }}</div>
  <div class="tooltip__row"><strong>Work center:</strong> {{ bar.workCenterId }}</div>
</ng-template>
