<div class="grid">
  <div
    class="row"
    *ngFor="let wc of workCenters; trackBy: trackByWc; let i = index"
    [class.is-even]="i % 2 === 1"
  >
    <div
      class="track"
      #trackEl
      role="button"
      tabindex="0"
      (click)="onRowClick(wc.id, $event)"
      (keydown.enter)="onRowKeyCreate(wc.id, trackEl)"
      (keydown.space)="onRowKeyCreate(wc.id, trackEl)"
      (mousemove)="onTrackMove(wc.id, $event, trackEl)"
      (mouseleave)="onTrackLeave(trackEl)"
      [style.--colWidthPx.px]="colWidthPx"
    >
      <app-work-order-bar
        *ngFor="let b of barsFor(wc.id); trackBy: trackById"
        [bar]="b"
        [timescale]="timescale"
        [menuOpen]="openMenuBarId === b.id"
        (toggleMenu)="onToggleMenu($event)"
        (edit)="edit.emit($event)"
        (delete)="delete.emit($event)"
      ></app-work-order-bar>

      <!-- shown only for empty rows; positioned by CSS var -->
      <div class="add-hint" *ngIf="barsFor(wc.id).length === 0">
        Click to add dates
      </div>
    </div>
  </div>
</div>
